<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head')  %> 

	<body class="bodi">
		<!--Barra de menú-->
	
		
		<%- include('partials/header')  %>  
	
		<!--Barra del buscador + ingresar/iniciar sesión-->
		<%- include('partials/nav') %> 


	<div class="container">

	
	<div class="ingreso ">

		<img src="/images/logo.png" alt="logo" class="logo">

		<h2>Iniciar sesión</h2>
		<div class="">
			<form action="/usuarios/ingreso" method="POST">
				<div class="form-group">
				  <label for="exampleInputEmail1">Email</label>
				  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
				  <small class="text-warning"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>

				</div>

				<div class="form-group">
				  <label for="exampleInputPassword1">Contraseña</label>
				  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
				  <small class="text-warning"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
				</div>

				<div class="form-group form-check">
				  <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">
				  <label class="form-check-label" for="exampleCheck1">Recordarme</label>
				</div>

				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-primary ml-5">Ingresar</button>
				</div>

			  </form>
		</div>
	</div>
</div>
<%- include('partials/footer') %> 

</body>

</html>