<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/<%= css %> ">

<body class="bodi">
  <!--Barra de menú-->

  <%- include('partials/header')  %> 

  <!--Barra del buscador + ingresar/iniciar sesión-->

  <%- include('partials/nav')  %> 

  <section class="cuerpo">
    <div class="columns border-fluid">
      <div class="column is-6 border">
        <div class="caja"></div>
        <div class="producto">
          <div>
            <label>Nombre del producto</label>
            <input class="producto" type="nombre del producto">
          </div>
          <div>
            <label>Ingredientes</label>
            <br>
            <textarea class="ingredientes" name="mensaje"></textarea>
          </div>
          <div>
            <label>Descripción</label>
            <br>
            <textarea class="descripcion" name="mensaje"></textarea>
          </div>
          <div>
            <label>Cocción</label>
            <br>
            <textarea class="coccion" name="mensaje"></textarea>
          </div>
          </form>
        </div>
      </div>
      <div class="column is-6 border">
        <form class="subir" enctype="multipart/form-data" action="uploader.php" method="POST">
          <input name="uploadedfile" type="file" />
          <input type="submit" value="Subir imagen" />
        </form>
        <div class="contenedor">
          <label for="masa">Común</label>
          <br>
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            <label for="masa">Integral</label>
            </form>
        </div>
        <div class="conteiner">
          <div class="">
            <label>Precio</label>
            <input class="precio" type="precio">
          </div>
        </div>
        <div class="conteiner">
          <div class=" ">
            <label>Stock</label>
            <input class="stock" type="Stock">
          </div>
        </div>
        <div>
          <div>
            <label>Productos</label>
            <p>

              <form action="resultado.html" metodo="POST">
                <label for="masa">Disponible</label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label for="form-check-label" for="gridRadion1"></label>
                <br>
                <label for="masa">No Disponible</label>
                <input class="form-chek-input"  type="radio" name="gridRadios" id="gridRadion1" value="option1" checked>
                <label class="form-check-label" for="gridRadion1"></label> 

              </form>
             
            </p>
          </div>
        </div>
        <div>
          <div class="">
            <label>Tipo de masa</label>
            <form action="resultado.html" method="POST">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
              <label class="form-check-label" for="gridRadios1">
                <label for="masa">Común</label>
                <br>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  <label for="masa">Integral</label>
            </form>
          </div>
        </div>
        <div>
          <div>
            <label>Categoria</label>
            <input class="categoria" type="categoria">
          </div>
          <div>
          </div>
          <input type="submit" value="Agregar producto">
          <input type="submit" value="Eliminar producto">
          </form>
        </div>
  </section>
  <%- include('partials/footer)  %> 
</body>
</html>